
/* margin e border */
*{
    box-sizing: border-box;
    margin: 0;
}

/* logo style header */
#logo-booleaner{
    width: 20%;
    position: absolute;
    bottom: 5%;
    left:1%;
}

/* style info articolo */
.color-grey,#data-articolo{
    color: grey;
}

.color-blue{
    color: #4EA0FF;
}

#data-articolo{
    font-size: 10px;
}





/* header */
header{
    margin:0;
    position: relative;
    height: 10vh;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 50%;
}